@using BCSH2BDAS2.Models
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BCSH2BDAS2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/jquery-3.7.1.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img src="~/logo.png" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Domů</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Plan">Spojení</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Timetable">Jízdní řády</a>
                        </li>
                        @if (((Uzivatel?)ViewData["ActingUser"])?.HasAtleastRole(Role.Dispatcher) == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Vehicles" asp-action="Index">Vozidla</a>
                            </li>
                        }
                        @if (((Uzivatel?)ViewData["ActingUser"])?.HasAtleastRole(Role.Dispatcher) == true)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Stops" asp-action="Index">Zastávky</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @if (ViewData["LoggedUser"] != null)
                        {
                            @if (((Uzivatel?)ViewData["LoggedUser"])?.HasAtleastRole(Role.Admin) == true)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="AdminPanel">Admin Panel</a>
                                </li>
                            }
                            @if (ViewData["LoggedUser"]?.Equals(ViewData["ActingUser"]) == true)
                            {
                                <li class="nav-item">
                                    <span class="nav-link text-dark">Přihlášený uživatel: @ViewData["LoggedUser"]</span>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <span class="nav-link text-dark">
                                        Jednáte za uživatele: @ViewData["ActingUser"]
                                        (<a asp-area="" asp-controller="Users" asp-action="StopActingBehalf">Zrušit</a>)
                                    </span>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Logout">Odhlásit se</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Login">Přihlásit se</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Register">Zaregistrovat se</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container" role="main">
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted">
        <p>© 2024 Hrubeš & Šimek</p>
    </footer>
</body>
</html>