@using BCSH2BDAS2.Models
@model BCSH2BDAS2.Models.Vozidlo
@{
    ViewData["Title"] = "Vytvořit/Upravit vozidlo";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row mb-3">
    <div class="col-md-4">
        <form asp-action="CreateEditSubmit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdVozidlo" />
            <div class="form-group mb-3">
                <label asp-for="RokVyroby" class="control-label">Rok výroby</label>
                <input asp-for="RokVyroby" class="form-control" />
                <span asp-validation-for="RokVyroby" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="NajeteKilometry" class="control-label">Najeté kilometry</label>
                <input asp-for="NajeteKilometry" class="form-control" />
                <span asp-validation-for="NajeteKilometry" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Kapacita" class="control-label"></label>
                <input asp-for="Kapacita" class="form-control" />
                <span asp-validation-for="Kapacita" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MaKlimatizaci" /> @Html.DisplayNameFor(model => model.MaKlimatizaci)
                </label>
            </div>
            <div class="form-group mb-3">
                <label asp-for="IdGaraz" class="control-label">Garáž</label>
                @Html.DropDownList("IdGaraz",
                         new SelectList(((List<Garaz>?)ViewData["Garaze"])?.AsEnumerable(), "IdGaraz", "Nazev", Model.IdGaraz),
                         new { @class = "form-control" })
                <span asp-validation-for="IdGaraz" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="IdModel" class="control-label">Model vozidla</label>
                @Html.DropDownList("IdModel",
                         new SelectList(((List<Model>?)ViewData["Modely"])?.AsEnumerable(), "IdModel", "Nazev", Model.IdModel),
                         new { @class = "form-control" })
                <span asp-validation-for="IdModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Uložit změny" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Zpět na seznam</a>
</div>