@using BCSH2BDAS2.Models
@model BCSH2BDAS2.Models.Vozidlo
@{
    ViewData["Title"] = "Vytvořit/Upravit vozidlo";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="justify-content-center m-auto" style="width:fit-content">
    <div class="card shadow-sm">
        <div class="card-body">
            <form asp-action="CreateEditSubmit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(model => model.IdVozidlo)

                <div class="form-group mb-3">
                    <label asp-for="SPZ" class="control-label"></label>
                    <input asp-for="SPZ" class="form-control" />
                    <span asp-validation-for="SPZ" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="RokVyroby" class="control-label"></label>
                    <input asp-for="RokVyroby" class="form-control" />
                    <span asp-validation-for="RokVyroby" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="NajeteKilometry" class="control-label"></label>
                    <input asp-for="NajeteKilometry" class="form-control" />
                    <span asp-validation-for="NajeteKilometry" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Kapacita" class="control-label"></label>
                    <input asp-for="Kapacita" class="form-control" />
                    <span asp-validation-for="Kapacita" class="text-danger"></span>
                </div>

                <div class="form-group form-check mb-3">
                    <label asp-for="MaKlimatizaci" class="form-check-label"></label>
                    <input asp-for="MaKlimatizaci" class="form-check-input" />
                </div>

                <div class="form-group mb-3">
                    <label asp-for="IdGaraz" class="control-label"></label>
                    @Html.DropDownListFor(model => model.IdGaraz, ViewBag.Garaze as SelectList, new { @class = "form-control" })
                    <span asp-validation-for="IdGaraz" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="IdModel" class="control-label"></label>
                    @Html.DropDownListFor(model => model.IdModel, ViewBag.Modely as SelectList, new { @class = "form-control" })
                    <span asp-validation-for="IdModel" class="text-danger"></span>
                </div>

                <div class="form-group row m-1">
                    <input type="submit" value="Uložit změny" class="btn btn-primary col" />
                    <div class="col w-100"></div>
                    <a asp-action="Index" class="btn btn-secondary col align-content-end" style="margin-left:1rem">Zpět na seznam</a>
                </div>
            </form>
        </div>
    </div>
</div>