@model BCSH2BDAS2.Models.Vozidlo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Vozidlo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdVozidlo" />
            <div class="form-group">
                <label asp-for="RokVyroby" class="control-label"></label>
                <input asp-for="RokVyroby" class="form-control" />
                <span asp-validation-for="RokVyroby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NajeteKilometry" class="control-label"></label>
                <input asp-for="NajeteKilometry" class="form-control" />
                <span asp-validation-for="NajeteKilometry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kapacita" class="control-label"></label>
                <input asp-for="Kapacita" class="form-control" />
                <span asp-validation-for="Kapacita" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MaKlimatizaci" /> @Html.DisplayNameFor(model => model.MaKlimatizaci)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IdGaraz" class="control-label"></label>
                <input asp-for="IdGaraz" class="form-control" />
                <span asp-validation-for="IdGaraz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdModel" class="control-label"></label>
                <input asp-for="IdModel" class="form-control" />
                <span asp-validation-for="IdModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
