<script src="~/js/vehicles/edit.js"></script>

<h1>Edit</h1>

<h4>Vozidlo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @* TODO: Handle submit with JS *@
        <form href="EditVehicle" onsubmit="return validateEditForm()">
            <div id="ErrorDiv" class="text-danger"></div>
            <div class="form-group">
                <label for="RokVyroby" class="control-label">RokVyroby</label>
                <input id="RokVyroby" class="form-control" />
                <span id="RokVyrobyError" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="NajeteKilometry" class="control-label">NajeteKilometry</label>
                <input id="NajeteKilometry" class="form-control" />
                <span id="NajeteKilometryError" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Kapacita" class="control-label">Kapacita</label>
                <input id="Kapacita" class="form-control" />
                <span id="KapacitaError" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" for="MaKlimatizaci" /> Má Klimatizaci
                </label>
            </div>
            <div class="form-group">
                <label for="IdGaraz" class="control-label"></label>
                <input id="IdGaraz" class="form-control" />
                <span id="IdGarazError" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="IdModel" class="control-label"></label>
                <input id="IdModel" class="form-control" />
                <span id="IdModelError" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Vehicles">Back to List</a>
</div>