<script src="~/js/stops/edit.js"></script>

<h1>Edit</h1>

<h4>Zastavka</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div id="errorDiv" class="text-danger"></div>
        <div class="form-group">
            <label for="nazevInput" class="control-label">Nazev</label>
            <input id="nazevInput" class="form-control" />
            <span id="nazevError" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="souradniceXInput" class="control-label">SouradniceX</label>
            <input id="souradniceXInput" class="form-control" />
            <span id="souradniceXError" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="souradniceYInput" class="control-label">SouradniceY</label>
            <input id="souradniceYInput" class="form-control" />
            <span id="souradniceYError" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="idPasmoInput" class="control-label">IdPasmo</label>
            <input id="idPasmoInput" class="form-control" />
            <span id="idPasmoError" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input id="submitButton" type="submit" value="Save" class="btn btn-primary" onclick="SubmitEditForm()" />
        </div>
    </div>
</div>

<div>
    <a href="/Stops">Back to List</a>
</div>