<script src="~/js/stops/index.js"></script>

<h1>Stops Index</h1>

<p>
    <a href="Stops/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nazev</th>
            <th>SouradniceX</th>
            <th>SouradniceY</th>
            <th>IdPasmo</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>
