@{
    ViewData["Title"] = "Domů";
}

<div class="text-center">
    <h1 class="display-6">Vítejte na stránkách dopravního podniku Pardubice!</h1>
    <img src="https://eu-central.storage.cloudconvert.com/tasks/6362d6b9-827d-4e59-bc71-6b2e0732dad7/%C5%A0koda_30Tr_SOR_ve_stanici_Polabiny%2Cto%C4%8Dna_z_podhledu.webp?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=cloudconvert-production%2F20241207%2Ffra%2Fs3%2Faws4_request&X-Amz-Date=20241207T192745Z&X-Amz-Expires=86400&X-Amz-Signature=cd079633f06b53c3b9486c907927bc8d725d892219f07196501feed227473461&X-Amz-SignedHeaders=host&response-content-disposition=inline%3B%20filename%3D%22%3Fkoda_30Tr_SOR_ve_stanici_Polabiny%2Cto%3Fna_z_podhledu.webp%22%3B%20filename%2A%3DUTF-8%27%27%25C5%25A0koda_30Tr_SOR_ve_stanici_Polabiny%252Cto%25C4%258Dna_z_podhledu.webp&response-content-type=image%2Fwebp&x-id=GetObject" class="img-fluid img-thumbnail w-50" />
    <p class="lead text-muted">Jsme tu, abychom vám poskytli nejlepší služby v oblasti veřejné dopravy.</p>
</div>
