@using BCSH2BDAS2.Helpers
@model IEnumerable<BCSH2BDAS2.Models.Garaz>
@{
    ViewData["Title"] = "Seznam garáží";
}

@await Html.PartialAsync("IndexCreateTitle")
<div class="table-responsive overflow-auto">
    <table class="table text-nowrap">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nazev)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kapacita)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(_ => item.Nazev)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.Kapacita)
                    </td>
                    @await Html.PartialAsync("IndexActionButtons", item.IdGaraz)
                </tr>
            }
        </tbody>
    </table>
</div>