@model BCSH2BDAS2.Models.TarifniPasmo
@{
    ViewData["Title"] = "Delete";
}

<h1>Odstranit</h1>

<h3>Opravdu chcete tuto položku odstranit?</h3>
<div>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.Nazev)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.Nazev)
        </dd>
    </dl>

    <form asp-action="DeleteSubmit" class="mb-3">
        <input type="hidden" asp-for="IdPasmo" />
        <input type="submit" value="Odstranit" class="btn btn-danger" />
    </form>
    <a asp-action="Index">Zpět na seznam</a>
</div>
