@using BCSH2BDAS2.Helpers
@model BCSH2BDAS2.Models.TarifniPasmo
@{
    ViewData["Title"] = "Detail tarifního pásma";
}

<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nazev)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nazev)
        </dd>
    </dl>
</div>
@await Html.PartialAsync("DetailActionButtons", Model.IdPasmo)