@model BCSH2BDAS2.Models.JizdniRad
@{
    ViewData["Title"] = "Vytvořit/Upravit jízdní řád";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row mb-3">
    <div class="col-md-4">
        <form asp-action="CreateEditSubmit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdJizdniRad" />

            <div class="form-group mb-3">
                <label asp-for="IdZastavka" class="control-label"></label>
                <input asp-for="IdZastavka" class="form-control" />
                <span asp-validation-for="IdZastavka" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="IdSpoj" class="control-label"></label>
                <input asp-for="IdSpoj" class="form-control" />
                <span asp-validation-for="IdSpoj" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="CasPrijezdu" class="control-label"></label>
                <input asp-for="CasPrijezdu" class="form-control" />
                <span asp-validation-for="CasPrijezdu" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CasOdjezdu" class="control-label"></label>
                <input asp-for="CasOdjezdu" class="form-control" />
                <span asp-validation-for="CasOdjezdu" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Uložit změny" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zpět na seznam</a>
</div>