@using BCSH2BDAS2.Helpers
@{
    ViewData["Title"] = "Vytvoření jízních řádů";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="MakeOfExistingSubmit" method="post">
    <div class="form-group mb-3">
        <label for="id_spoj" class="control-label">Referenční spoj</label>
        @Html.DropDownList("IdSpoj", ViewBag.Spoje as SelectList, "Vyberte spoj", new { @class = "form-control" })
    </div>

    <div class="form-group mb-3">
        <label for="casOd" class="control-label">Od</label>
        <input type="time" id="casOd" name="casOd" class="form-control" />
    </div>

    <div class="form-group mb-3">
        <label for="casDo" class="control-label">Do</label>
        <input type="time" id="casDo" name="casDo" class="form-control" />
    </div>

    <div class="form-group mb-3">
        <label for="interval" class="control-label">Interval (min)</label>
        <input type="number" id="interval" name="interval" min="1" class="form-control" value="20" />
    </div>

    <div class="form-group mb-3">
        <input type="submit" value="Vytvořit" class="btn btn-primary" />
    </div>
</form>