.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
}

header {
    padding: 0 10vw;
}

main {
    max-height: 90vh;
    max-width: 90vw;
    overflow-y: auto;
}

p {
    margin: 0;
    padding: 0.2rem;
}

th, td, select {
    text-align: center;
    align-content: center;
    min-width: fit-content;
}

table {
    min-width: 612px
}

input {
    width: fit-content
}

form {
    max-width: 500px
}