@using BCSH2BDAS2.Helpers
@model BCSH2BDAS2.Models.TypVozidla
@{
    ViewData["Title"] = "Detail typu vozidla";
}

<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.Nazev)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.Nazev)
        </dd>
    </dl>
</div>
@await Html.PartialAsync("DetailActionButtons", Model.IdTypVozidla)