@model BCSH2BDAS2.Models.Uzivatel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="row row-cols-2 m-1">
        <dt class="col-auto p-1">
            @Html.DisplayNameFor(model => model.UzivatelskeJmeno)
        </dt>
        <dd class="col-auto p-1">
            @Html.DisplayFor(model => model.UzivatelskeJmeno)
        </dd>
    </dl>

    <form asp-action="DeleteSubmit" class="mb-3">
        <input type="hidden" asp-for="IdUzivatel" />
        <input type="submit" value="Odstranit" class="btn btn-danger" />
    </form>
    <a asp-action="Index">Zpět na seznam</a>
</div>
