@using BCSH2BDAS2.Models
@model Udrzba
@{
    ViewData["Title"] = "Vytvořit/Upravit údržbu";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="justify-content-center m-auto" style="width:fit-content">
    <div class="card shadow-sm">
        <div class="card-body">
            <form asp-action="CreateEditSubmit" onsubmit="nullifyHiddenInputs()">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(model => model.IdUdrzba)

                <div class="form-group mb-3">
                    <label asp-for="IdVozidlo" class="control-label"></label>
                    @Html.DropDownListFor(model => model.IdVozidlo, ViewBag.Vozidla as SelectList, new { @class = "form-control" })
                    <span asp-validation-for="IdVozidlo" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Datum" class="control-label"></label>
                    <input step="1" asp-for="Datum" class="form-control" />
                    <span asp-validation-for="Datum" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="KonecUdrzby" class="control-label"></label>
                    <input step="1" asp-for="KonecUdrzby" class="form-control" />
                    <span asp-validation-for="KonecUdrzby" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="TypUdrzby" class="control-label"></label>
                    <select asp-for="TypUdrzby" class="form-control" onchange="typUdrzbyChanged()">
                        <option value="x">Nespecifikováno</option>
                        <option value="c">Čištění</option>
                        <option value="o">Oprava</option>
                    </select>
                    <span asp-validation-for="TypUdrzby" class="text-danger"></span>
                </div>

                <div id="typUdrzbyO" style="display:none;">
                    @{
                        Oprava oprava = (Oprava)ViewBag.Cisteni;
                        <div class="form-group mb-3">
                            <label asp-for=@oprava.PopisUkonu class="control-label"></label>
                            <input asp-for=@oprava.PopisUkonu class="form-control" />
                            <span asp-validation-for=@oprava.PopisUkonu class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for=@oprava.Cena class="control-label"></label>
                            <input asp-for=@oprava.Cena class="form-control" />
                            <span asp-validation-for=@oprava.Cena class="text-danger"></span>
                        </div>
                    }
                </div>

                <div id="typUdrzbyC" style="display:none;">
                    @{
                        Cisteni cisteni = (Cisteni)ViewBag.Cisteni;
                        <div class="form-group mb-3">
                            <label asp-for=@cisteni.UmytoVMycce class="control-label"></label>
                            <input asp-for=@cisteni.UmytoVMycce class="form-check-input" type="checkbox" />
                            <span asp-validation-for=@cisteni.UmytoVMycce class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for=@cisteni.CistenoOzonem class="control-label"></label>
                            <input asp-for=@cisteni.CistenoOzonem class="form-check-input" type="checkbox" />
                            <span asp-validation-for=@cisteni.CistenoOzonem class="text-danger"></span>
                        </div>
                    }
                </div>

                <div class="form-group row m-1">
                    <input type="submit" value="Uložit změny" class="btn btn-primary col" />
                    <a asp-action="Index" class="btn btn-secondary col" style="margin-left:1rem">Zpět na seznam</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function typUdrzbyChanged() {
        var typUdrzby = document.querySelector('[name="TypUdrzby"]').value;
        document.getElementById('typUdrzbyO').style.display = typUdrzby === 'o' ? 'block' : 'none';
        document.getElementById('typUdrzbyC').style.display = typUdrzby === 'c' ? 'block' : 'none';
    }

    function nullifyHiddenInputs() {
        var typUdrzby = document.querySelector('[name="TypUdrzby"]').value;
        if (typUdrzby !== 'o') {
            document.querySelector('[name="PopisUkonu"]').value = null;
            document.querySelector('[name="Cena"]').value = null;
        }
        if (typUdrzby !== 'c') {
            document.querySelector('[name="CistenoOzonem"]').checked = false;
            document.querySelector('[name="UmytoVMycce"]').checked = false;
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        typUdrzbyChanged();
    });
</script>
