@model BCSH2BDAS2.Models.Udrzba

@{
    ViewData["Title"] = "Delete";
}

<h1>Odstranit</h1>

<h3>Opravdu chcete tuto položku odstranit?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdVozidlo) @* TODO Join table *@
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdVozidlo)@* TODO Join table *@
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
    </dl>

    <form asp-action="DeleteSubmit">
        <input type="hidden" asp-for="IdUdrzba" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Zpět na seznam</a>
    </form>
</div>
