@using BCSH2BDAS2.Helpers
@model IEnumerable<BCSH2BDAS2.Models.Znacka>
@{
    ViewData["Title"] = "Seznam značek";
}

@await Html.PartialAsync("IndexCreateTitle")
<div class="table-responsive overflow-auto p-3">
    <table class="table text-nowrap w-auto m-auto">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nazev)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="w-auto">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(_ => item.Nazev)
                    </td>
                    @await Html.PartialAsync("IndexActionButtons", item.IdZnacka)
                </tr>
            }
        </tbody>
    </table>
</div>