@using BCSH2BDAS2.Models
@model Pracovnik
@{
    ViewData["Title"] = "Vytvořit/Upravit pracovníka";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row mb-3">
    <div class="col-md-4">
        <form asp-action="CreateEditSubmit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPracovnik" />
            <div class="form-group mb-3">
                <label asp-for="UzivatelskeJmeno" class="control-label">Rok výroby</label>
                <input asp-for="UzivatelskeJmeno" class="form-control" />
                <span asp-validation-for="UzivatelskeJmeno" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Jmeno" class="control-label">Najeté kilometry</label>
                <input asp-for="Jmeno" class="form-control" />
                <span asp-validation-for="Jmeno" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Prijmeni" class="control-label"></label>
                <input asp-for="Prijmeni" class="form-control" />
                <span asp-validation-for="Prijmeni" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="TelefonniCislo" class="control-label"></label>
                <input asp-for="TelefonniCislo" class="form-control" />
                <span asp-validation-for="TelefonniCislo" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="IdRole" class="control-label">Garáž</label>
                @Html.DropDownList("IdRole",
                         new SelectList(((List<Role>?)ViewData["Role"])?.AsEnumerable(), "IdRole", "Nazev", Model.IdRole),
                         new { @class = "form-control" })
                <span asp-validation-for="IdRole" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Uložit změny" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Zpět na seznam</a>
</div>